{% extends "base.html" %} 
{% load tailwind_filters %} 
{% load crispy_forms_tags %} 


{% block content %}

<div class='w-full flex justify-end mt-[500px] fixed '>
  <a 
    class="btn btn-primary my-2 w-22 flex justify-end"
    href="#" onclick="window.history.back(); return false;">
    Retour
  </a>
</div>

<header class="container mx-auto m-6 flex flex-col justify-center items-center">
  <h1 class="font-bold text-4xl mt-4">Bienvenue sur GEN.CV</h1>
  {% if user.is_authenticated %}
      <h2 class="font-bold text-2xl mt-2">{{ user.username }} est authentifié</h2>
  {% endif %}
</header>

<main class="container mx-auto p-10">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <div class="bg-gray-100 p-4 rounded-lg">
      <h2 class="font-bold text-2xl">Voir les CV</h2>
      <p class="mt-2">Consultez les CV de l'utilisateur</p>
      <a href="{% url 'pages:liste_cv' %}" class="btn btn-primary mt-4"
        >Voir les CV
      </a>
    </div>

<div class="bg-gray-100 p-4 rounded-lg">
  <h2 class="font-bold text-2xl">Ajouter un élément</h2>
  <label for="option-select"></label>
  <select class="rounded-md" name="options" id="option-select" onchange="location = this.value;">
    <option value="">--Choisissez un élément--</option>
    <option value="{% url 'pages:hobbie_create' %}">Un hobbie</option>
    <option value="{% url 'pages:skill_create' %}">Une compétence</option>
    <option value="{% url 'pages:language_create' %}">Une langue</option>
    <option value="{% url 'pages:formation_create' %}">Une formation</option>
    <option value="{% url 'pages:experience_create' %}">Une expérience</option>
  </select>
  <h2 class="font-bold text-2xl">Liste des éléments</h2>
  <label for="option-select"></label>
  <select class="rounded-md" name="options" id="option-select" onchange="location = this.value;">
    <option value="">--Choisissez une liste d'élément--</option>
    <option value="{% url 'pages:hobbie_list' %}">Liste des hobbies</option>
    <option value="{% url 'pages:skill_list' %}">Liste des skills</option>
    <option value="{% url 'pages:language_list' %}">Liste des langues</option>
    <option value="{% url 'pages:experience_list' %}">Liste des expériences</option>
    <option value="{% url 'pages:formation_list' %}">Liste des formations</option>

  </select>
  
</div>
</section>

  <section>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1
        class="text-4xl font-semibold flex flex-row justify-center items-center py-4">
        Créer un CV 
      </h1>
      {% if form %} {{ form|crispy }} {% else %}
      <p>Le formulaire n'est pas disponible.</p>
      {% endif %}
      <button type="submit" class="btn btn-primary">Enregistrer le CV</button>
    </form>
  </section>

</main>

{% endblock content %}
