{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}


{% block content %}

  <div class='w-full flex justify-end mb-[50px] '>
    <a 
      class="btn btn-primary my-2 w-22 flex justify-end mr-1 "
      href="#" onclick="window.history.back(); return false;">
      Retour
    </a>
  </div>

  <div class=' p-6 flex flex-row justify-center items-center gap-4'>

    <div class='w-auto h-auto flex flex-col justify-center items-center gap-4'>
      <div class='w-44  border-2 rounded-md  '>
        <img 
        class='w-44 h-44 rounded-md object-cover'
        src="{{ info.photo.url }}" alt="Photo de {{ info.firstname }} {{ info.lastname }}">
      </div>

      <div class='flex flex-row justify-center items-center w-full h-auto '>
        <a href="{% url 'pages:detail_cv_pdf_style_1' pk=info.pk %}" class="btn btn-primary w-44">Download style 1 </a>
      </div>
    </div>

    <div class='w-auto h-auto flex flex-col justify-center items-center gap-4'>
      <div class='w-44  border-2 rounded-md  '>
        <img 
        class='w-44 h-44 rounded-md object-cover'
        src="{{ info.photo.url }}" alt="Photo de {{ info.firstname }} {{ info.lastname }}">
      </div>

      <div class='flex flex-row justify-center items-center w-full h-auto '>
        <a href="{% url 'pages:detail_cv_pdf_style_2' pk=info.pk %}" class="btn btn-primary w-44">Download style 2</a>
      </div>
    </div>


    <div class='w-auto h-auto flex flex-col justify-center items-center gap-4'>
      <div class='w-44  border-2 rounded-md  '>
        <img 
        class='w-44 h-44 rounded-md object-cover'
        src="{{ info.photo.url }}" alt="Photo de {{ info.firstname }} {{ info.lastname }}">
      </div>

      <div class='flex flex-row justify-center items-center w-full h-auto '>
        <a href="{% url 'pages:detail_cv_pdf_style_3' pk=info.pk %}" class="btn btn-primary w-44">Download style 3</a>
      </div>
    </div>

  </div>

  <main class="container mx-auto ">
    <section class="flex flex-col w-full">
      <div class="container mx-auto flex flex-col bg-white">

        <div class='flex flex-row justify-start items-start w-full p-4 gap-11'>
          <div class='flex flex-col w-1/4  h-full'>
              <h3 class="flex justify-center font-bold text-4xl mt-2">{{ info.lastname }}</h3>
              <h4 class="flex justify-center font-bold text-4xl mt-2">{{ info.firstname }}</h4>


              <h4 class="text-xl my-10 ">{{ info.type_of_Contract }}</h4>




              <div class="flex justify-center items-center w-full my-2">
                <img 
                class='w-52 h-52 rounded-full border-2 border-gray-400 object-cover'
                src="{{ info.photo.url }}" alt="Photo de {{ info.firstname }} {{ info.lastname }}">
              </div>
              <p class="text-2xl font-bold  mt-10 mb-4">Informations personnelles</p>
              <p class='info-field  text-xl  mt-4'><strong>Adresse:</strong></p>
              <p class="text-lg mt-2">{{ info.address }}</p>
              <p class="text-lg mt-2">{{ info.zip_code }} - {{ info.city }}</p>
              <p class="text-lg mt-2">{{ info.state }}</p>
              <p class="text-lg mt-2"><strong>Téléphone:</strong> {{ info.phone }}</p>
              <p class="text-lg mt-2"><strong>Email:</strong> {{ info.email }}</p>
              
              <div class="info-field mt-2 text-md"><strong>Née le: </strong>{{ info.date_of_birth }} </div>
              <div class="info-field mt-2 text-md"><strong>Lieux : </strong> {{ info.place_of_birth }} </div>

              <div class="info-field  text-xl mt-12  my-4">
                <strong>Hobbies:</strong>
                <div class='px-2 text-lg '>
                  {% for hobby in info.hobbies.all %}
                    - {{ hobby.title_hobby }}{% if not forloop.last %},<br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field  text-xl  my-4">
                <strong>Langues:</strong>
                <div class='px-2 text-lg '>
                  {% for language in info.languages.all %}
                      - {{ language.title_language }} : {{ language.niveau_language }}
                    {% if not forloop.last %}, <br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field  text-xl  my-4">
                <strong>Compétences:</strong>
                <div class='px-2 text-lg '>
                  {% for skill in info.skills.all %}
                    - {{ skill.title_Skill }}
                    {% if not forloop.last %},<br/>{% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>





            <div class="flex flex-col justify-start items-center w-3/4 h-full">
              <div class=" border-2 border-slate-400 rounded-md  p-2 flex flex-col justify-start items-start w-full ">
                  <p class='px-4 my-4 text-lg'>{{ info.motivation }}</p>
              </div>

              
              <div class="flex flex-col justify-evenly items-center h-full">

              <div class="my-6   w-full">
                <h3 class="w-full flex flex-row justify-center items-center text-3xl mb-6 font-bold ">Experience</h3>
                <div class='px-4'>
                  {% for experience in info.experiences.all %}
                    <p class='flex justify-start w-full text-xl border-b-4 mb-4'> {{ experience.title_experience }}: </p>

                    <div class='flex flex-row justify-start items-start w-full '>
                    
                      <div class='text-lg w-auto flex flex-col justify-start items-start'>
                          <p class='text-sm w-auto mr-6'> {{ experience.start_date_of_experience|date:"d/m/Y" }}</p>
                          <p class='text-sm w-auto mr-6'> {{ experience.end_date_of_experience|date:"d/m/Y" }}</p>
                      </div>

                      <div class='text-lg w-auto flex flex-col justify-start items-start'>
                          <p class='font-bold'>{{ experience.description_experience }}</p>
                          <p>Entreprise: {{ experience.business }} à {{ experience.location_experience }}</p>
                      </div>

                    </div>
                    
                    {% if not forloop.last %}<br/>{% endif %}
                  {% endfor %}
                </div>
              </div> 
              

              <div class=" my-6   w-full">
                <h3 class="w-full flex flex-row justify-center items-center text-3xl mb-6  font-bold ">Formation</h3>
                <div class='px-4'>
                  {% for formation in info.formations.all %}
                  <p class='flex justify-start w-full text-xl border-b-4 mb-4'> {{ formation.title_formation }}: </p>
                  <div class='flex flex-row justify-start items-start w-full '>

                    <div class='text-lg w-auto flex flex-col justify-start items-start'>
                        <h class='text-sm w-auto mr-6'> {{ formation.start_date_of_formation|date:"d/m/Y" }}</h>
                        <h class='text-sm w-auto mr-6'> {{ formation.end_date_of_formation|date:"d/m/Y" }}</h>
                    </div>
                  
                    <div class='text-lg w-auto flex flex-col justify-start items-start'>
                        <p>{{ formation.description_formation }}</p>
                        <p>Entreprise: {{ formation.business }} à {{ formation.location_formation }}</p>

                    </div>
                  
                  </div>
                    {% if not forloop.last %}<br/>{% endif %}
                  {% endfor %}
                </div>
              </div> 
            </div>  
          
          </div>  
        </div>
        
      </div>
    </section>

</main>



{% endblock %}