{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}


{% block content %}

<div class='w-full flex justify-end mt-[500px] fixed '>
  <a 
    class="btn btn-primary my-2 w-22 flex justify-end"
    href="#" onclick="window.history.back(); return false;">
    Retour
  </a>
</div>

<header class="container mx-auto m-6 flex flex-col justify-center items-center">
    <h1 class="font-bold text-4xl mt-4">Bienvenue sur GEN.CV</h1>
    {% if user.is_authenticated %}
        <h2 class="font-bold text-2xl mt-2">{{ user.username }} est authentifié</h2>
    {% endif %}
</header>

<main class="container mx-auto p-10">
    <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-gray-100 p-4 rounded-lg">
            <h2 class="font-bold text-2xl">Créer un CV</h2>
            <p class="mt-2">Créez votre CV en quelques clics</p>
            <a href="{% url 'pages:create_cv' %}" class="btn btn-primary mt-4">Créer un CV</a>
        </div>
    </section>

    <section class="flex flex-col w-full h-screen">
      <h1 class='text-4xl font-semibold flex flex-row justify-center items-center py-4'>Information des cv</h1>
      <div class="container mx-auto flex flex-col">
        
        <div class='flex flex-row justify-center items-center w-full h-auto px-6 my-10'>

          <p class='w-full text-4xl font-semibold'>{{ info.title }}</p>

          <a href="{% url 'pages:delete_cv' info.pk %}" class="btn btn-primary w-44 mr-6">Supprimer le CV</a>
          <a href="{% url 'pages:update_cv' info.pk %}" class="btn btn-primary w-44">Modifier le CV</a>

        </div>
          <div class='flex flex-row justify-start items-start w-full  border-2 p-4'>

            
            <div class='flex flex-col w-1/4  h-full'>
              <div class="flex justify-center items-center w-full my-2">
                <img 
                class='w-52 h-52 rounded-full border-2 border-gray-400 object-cover'
                src="{{ info.photo.url }}" alt="Photo de {{ info.firstname }} {{ info.lastname }}">
              </div>
              <div class="text-xl mt-2">{{ info.lastname }}</div>
              <div class="text-xl mt-2">{{ info.firstname }}</div>
              <div class="text-xl mt-2">{{ info.address }}</div>
              <div class="text-xl mt-2">{{ info.zip_code }} - {{ info.city }}</div>
              <div class="text-xl mt-2">{{ info.state }}</div>
              <div class="text-xl mt-2"><strong>Téléphone:</strong> {{ info.phone }}</div>
              <div class="text-xl mt-2"><strong>Email:</strong> {{ info.email }}</div>
              
              <div class="text-xl my-2"><strong>Née le </strong>....  à ....</div>

              <span class='w-auto mt-10 mx-4 h-[2px] bg-slate-500 rounded-md'></span>


              <div class="info-field  text-xl mt-12  my-4">
                <strong>Hobbies:</strong>
                <div class='px-2 text-lg '>
                  {% for hobby in info.hobbies.all %}
                    - {{ hobby.title_hobby }}{% if not forloop.last %},<br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field  text-xl  my-4">
                <strong>Langues:</strong>
                <div class='px-2 text-lg '>
                  {% for language in info.languages.all %}
                      - {{ language.title_language }} : {{ language.niveau_language }}
                    {% if not forloop.last %}, <br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field  text-xl  my-4">
                <strong>Compétences:</strong>
                <div class='px-2 text-lg '>
                  {% for skill in info.skills.all %}
                    - {{ skill.title_Skill }}
                    {% if not forloop.last %},<br/>{% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>


            <span class='w-[4px] mx-4 h-full bg-slate-50 rounded-md'></span>

            <div class="flex flex-col justify-start items-center w-3/4 h-full">
              <div class=" border-2 border-slate-500 rounded-md  p-2 flex flex-col justify-start items-start w-full ">
              
                  <p class='px-4 my-4 text-lg'>{{ info.motivation }}</p>
              </div>

              
        <div class="flex flex-col justify-evenly items-center h-full">

              <div class="my-6   w-full">
                <h3 class="w-full flex flex-row justify-center items-center text-4xl mb-6 border-2 border-slate-500 rounded-md">Experience</h3>
                <div class='px-4'>
                  {% for experience in info.experiences.all %}

                    <p class='mb-2'>
                      <span class='mr-4 text-lg'>{{ experience.date_experience }}</span>
                      <span class=' text-2xl underline'>{{ experience.title_experience }}:</span>
                    </p>

                    <div class='ml-24'>
                      <p class='text-lg'><span class='mr-4'>Description:</span> {{ experience.description_experience }}</p>
                      <p class='text-lg'><span class='mr-4'>Entreprise:</span> ..............</p>
                      <p class='text-lg'><span class='mr-4'>Ville:</span> {{ experience.location_experience }}</p>
                    </div>

                    {% if not forloop.last %}<br/>{% endif %}
                  {% endfor %}
                </div>
              </div> 
              

              <div class=" my-6   w-full">
                <h3 class="w-full flex flex-row justify-center items-center text-4xl mb-6 border-2 border-slate-500 rounded-md">Formation</h3>
                <div class='px-4'>
                  {% for formation in info.formations.all %}

                  <p class='mb-2'>
                    <span class='mr-4 text-lg'>{{  formation.date_formation }}</span>
                    <span class=' text-2xl underline'>{{ formation.title_formation }}:</span>
                  </p>
                  <div class='ml-24'>
                    <p class='text-lg'><span class='mr-4'>Description:</span> {{ formation.description_formation }}</p>
                    <p class='text-lg'><span class='mr-4'>Entreprise:</span> ..............</p>
                    <p class='text-lg'><span class='mr-4'>Ville:</span> {{ formation.location_formation}}</p>
                  </div>

                
             
               
                    {% if not forloop.last %}<br/>{% endif %}
                  {% endfor %}
                </div>
              </div> 

        </div>           
            </div>  
          </div>
        
      </div>
    </section>

</main>



{% endblock %}