{% load static %}
<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>CV</title>

    <link href="{{ request.build_absolute_uri|default:"http://localhost:8000" }}{% static 'assets/app-BxMXD0Pt.css' %}" rel="stylesheet">


</head>
<body>
  <main class="container mx-auto  bg-white text-black">
    <section class="flex flex-col w-full">
      <div class="container mx-auto flex flex-col">

        <div class='flex flex-row justify-start items-start w-full p-2'>
          <div class='flex flex-col w-1/4  h-full mr-11'>
              <h3 class="flex justify-center font-bold text-3xl mt-2">{{ info.lastname }}</h3>
              <h4 class="flex justify-center font-bold text-3xl mt-2">{{ info.firstname }}</h4>


              <h4 class="text-xl my-9 ">{{ info.type_of_Contract }}</h4>




              <div class="flex justify-center items-center w-full ">
                <img class='w-52 h-52 rounded-full border-2 border-gray-400 object-cover'
                  src="{{ request.build_absolute_uri|default:"http://localhost:8000" }}{{ info.photo.url }}" 
                  alt="Photo de {{ info.firstname }} {{ info.lastname }}">
              </div>
              <p class="text-xl font-bold  mt-10 mb-4">Informations personnelles</p>
              <p class='info-field  text-lg  mt-4'><strong>Adresse:</strong></p>
              <p class="text-md mt-2">{{ info.address }}</p>
              <p class="text-md mt-2">{{ info.zip_code }} - {{ info.city }}</p>
              <p class="text-md mt-2">{{ info.state }}</p>
              <p class="text-md mt-2"><strong>Téléphone:</strong> {{ info.phone }}</p>
              <p class="text-md mt-2"><strong>Email:</strong> {{ info.email }}</p>
              
              <div class="info-field mt-2 text-md"><strong>Née le: </strong>{{ info.date_of_birth }} </div>
              <div class="info-field mt-2 text-md"><strong>Lieux : </strong> {{ info.place_of_birth }} </div>

              <div class="info-field  text-lg mt-12  my-4">
                <strong>Hobbies:</strong>
                <div class='px-2 text-md '>
                  {% for hobby in info.hobbies.all %}
                    - {{ hobby.title_hobby }}{% if not forloop.last %},<br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field  text-lg  my-4">
                <strong>Langues:</strong>
                <div class='px-2 text-md '>
                  {% for language in info.languages.all %}
                      - {{ language.title_language }} : {{ language.niveau_language }}
                    {% if not forloop.last %}, <br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field  text-lg  my-4">
                <strong>Compétences:</strong>
                <div class='px-2 text-md '>
                  {% for skill in info.skills.all %}
                    - {{ skill.title_Skill }}
                    {% if not forloop.last %},<br/>{% endif %}
                  {% endfor %}
                </div>
              </div>
          </div>


            <div class="flex flex-col justify-start items-center w-3/4 h-full">
              <div class=" border-2 border-slate-400 rounded-md  p-1 flex flex-col justify-start items-start w-full ">
                  <p class='px-2 my-2 text-md'>{{ info.motivation }}</p>
              </div>

              
              <div class="flex flex-col justify-evenly items-center h-full mt-3">

                <div class="my-4 w-full">
                  <h3 class="w-full flex flex-row justify-center items-center text-xl mb-3 font-bold ">Experience</h3>
                  <div class='px-3'>
                    {% for experience in info.experiences.all %}
                    <p class='flex justify-start w-full text-lg border-b-4 mb-4'> {{ experience.title_experience }}: </p>

                      <div class='flex flex-row justify-start items-start w-full '>
                      
                        <div class='text-md w-auto flex flex-col justify-start items-start'>
                            <p class='text-sm w-auto  mr-3'> {{ experience.start_date_of_experience|date:"d/m/Y" }}</p>
                            <p class='text-sm w-auto  mr-3'> {{ experience.end_date_of_experience|date:"d/m/Y" }}</p>
                        </div>

                        <div class='text-md w-auto flex flex-col justify-start items-start'>
                          <p class='font-bold w-auto ml-3'>{{ experience.description_experience }}</p>
                            <p class=' w-auto ml-3'>Entreprise: {{ experience.business }} à {{ experience.location_experience }}</p>
                        </div>

                      </div>

                      {% if not forloop.last %}<br/>{% endif %}
                    {% endfor %}
                  </div>
                </div> 


                <div class=" my-4   w-full">
                  <h3 class="w-full flex flex-row justify-center items-center text-xl mb-3 font-bold ">Formation</h3>
                  <div class='px-3'>
                    {% for formation in info.formations.all %}
                    <p class='flex justify-start w-full text-lg border-b-4 mb-4'> {{ formation.title_formation }}: </p>
                    <div class='flex flex-row justify-start items-start w-full '>

                      <div class='text-md w-auto flex flex-col justify-start items-start'>
                          <p class='text-sm w-auto mr-3'> {{ formation.start_date_of_formation|date:"d/m/Y" }}</p>
                          <p class='text-sm w-auto mr-3'> {{ formation.end_date_of_formation|date:"d/m/Y" }}</p>
                      </div>
                    
                      <div class='text-md w-auto flex flex-col justify-start items-start'>
                          <p class='font-bold w-auto ml-3'>{{ formation.description_formation }}</p>
                          <p class=' w-auto ml-3'>Entreprise: {{ formation.business }} à {{ formation.location_formation }}</p>
                      </div>
                    
                    </div>
                      {% if not forloop.last %}<br/>{% endif %}
                    {% endfor %}
                  </div>
                </div> 
            </div>  
          
          </div>  
        </div>
        
      </div>
    </section>

</main>

</body>
</html>