{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}


{% block content %}



<header class="container mx-auto m-6 flex flex-col justify-center items-center">
    <h1 class="font-bold text-4xl mt-4">Bienvenue sur GEN.CV</h1>
    {% if user.is_authenticated %}
        <h2 class="font-bold text-2xl mt-2">{{ user.username }} est authentifié</h2>
    {% endif %}
<div class='w-full flex justify-end '>
  <a 
    class="btn btn-primary my-2 w-22 flex justify-end mr-1 "
    href="#" onclick="window.history.back(); return false;">
    Retour
  </a>
</div>

</header>

<main class="container mx-auto p-10">
  <section class="w-full flex flex-row justify-between gap-4">
        <div class="bg-gray-100 p-4 rounded-lg w-96 flex flex-col">
            <h2 class="font-bold text-2xl">Créer un CV</h2>
            <p class="mt-2">Créez votre CV en quelques clics</p>
            <a href="{% url 'pages:create_cv' %}" class="btn btn-primary mt-4 w-36">Créer un CV</a>
        </div>
        
    </section>

    <section class="flex flex-col w-full h-full">
      <h1 class='text-4xl font-semibold flex flex-row justify-center items-center py-4'>Information des cv</h1>
      <div class="container mx-auto flex flex-col">
        {% for info in infos %}
        <div class='flex flex-row justify-center items-center w-full h-auto px-6 my-10'>

          <a href="{% url 'pages:detail_cv' info.pk %}" class='w-full text-4xl font-semibold'>{{ info.title }}</a>
          <a href="{% url 'pages:detail_cv' info.pk %}" class="btn btn-primary w-44 mr-6">Détail du CV</a>
          <a href="{% url 'pages:update_cv' info.pk %}" class="btn btn-primary w-44 mr-6">Modifier le CV</a>
          <a href="{% url 'pages:delete_cv' info.pk %}" class="btn btn-primary w-44">Supprimer le CV</a>

        </div>
          <div class='flex flex-row justify-start items-start w-full bg-white border-2 p-4 gap-11'>

            
            <div class='flex flex-col w-1/4  h-full'>
              <div class="info-field mt-2 text-4xl">{{ info.lastname }}</div>
              <div class="info-field mt-2 text-4xl"> {{ info.firstname }}</div>

              <p class="text-xl my-10 ">{{ info.type_of_Contract }}</p>

              <div class="flex justify-center items-center w-full mb-6">
                <img 
                class='w-52 h-52 rounded-full border-2 border-gray-400 object-cover'
                src="{{ info.photo.url }}" alt="Photo de {{ info.firstname }} {{ info.lastname }}">
              </div>

              


              <div class="info-field mt-2 text-md"><strong>Adresse:</strong> {{ info.address }}</div>
              <div class="info-field mt-2 text-md"><strong>Ville:</strong> {{ info.city }}</div>
              <div class="info-field mt-2 text-md"><strong>code postal:</strong> {{ info.zip_code }}</div>
              <div class="info-field mt-2 text-md"><strong>Etat:</strong> {{ info.state }}</div>
              <div class="info-field mt-2 text-md"><strong>Téléphone:</strong> {{ info.phone }}</div>
              <div class="info-field mt-2 text-md"><strong>Email:</strong> {{ info.email }}</div>
              <div class="info-field mt-2 text-md"><strong>Née le: </strong>{{ info.date_of_birth }} </div>
              <div class="info-field mt-2 text-md"><strong>Lieux : </strong> {{ info.place_of_birth }} </div>

              <div class="info-field mt-6  py-2">
                <strong>Hobbies:</strong>
                <div class='px-2'>
                  {% for hobby in info.hobbies.all %}
                    - {{ hobby.title_hobby }}{% if not forloop.last %},<br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field mt-2  py-2">
                <strong>Langues:</strong>
                <div class='px-2'>
                  {% for language in info.languages.all %}
                      - {{ language.title_language }} : {{ language.niveau_language }}
                    {% if not forloop.last %}, <br/> {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="info-field mt-2  py-2">
                <strong>Compétences:</strong>
                <div class='px-2'>
                  {% for skill in info.skills.all %}
                    - {{ skill.title_Skill }}
                    {% if not forloop.last %},<br/>{% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>


          

            <div class="flex flex-col justify-start items-center w-3/4 h-full">
              <div class=" border-2 rounded-md my-6 p-2 flex flex-col w-full md:min-h-36">
              
                  <p class='px-4 my-6'>{{ info.motivation }}</p>
              </div>

              

              <div class="info-field my-6  p-2 w-full">
                <h3 class="w-full flex flex-row justify-center items-center text-4xl mb-6">Experience</h3>
                <div class='px-4'>
                  {% for experience in info.experiences.all %}
                    <p class='text-xl underline mb-4'> {{ experience.title_experience }}: </p>

                    <div class='flex flex-row justify-start items-start w-full '>
                    
                      <div class='text-lg w-auto flex flex-col justify-start items-start'>
                          <h class='text-sm w-auto mr-6'> {{ experience.start_date_of_experience|date:"d/m/Y" }}</h>
                          <h class='text-sm w-auto mr-6'> {{ experience.end_date_of_experience|date:"d/m/Y" }}</h>
                      </div>

                      <div class='text-lg w-auto flex flex-col justify-start items-start'>
                          <p class='font-bold'>{{ experience.description_experience }}</p>
                          <p>Entreprise: {{ experience.business }}</p>
                          <p>Lieu: {{ experience.location_experience }}</p>
                      </div>

                    </div>
                    
                    {% if not forloop.last %}<br/>{% endif %}
                  {% endfor %}
                </div>
              </div> 
            

              <div class="info-field my-6  p-2 w-full">
                <h3 class="w-full flex flex-row justify-center items-center text-4xl mb-6">Formation</h3>
                <div class='px-4'>
                  {% for formation in info.formations.all %}
                  <p class='text-xl underline mb-4'> {{ formation.title_formation }}: </p>
                  <div class='flex flex-row justify-start items-start w-full '>

                    <div class='text-lg w-auto flex flex-col justify-start items-start'>
                        <h class='text-sm w-auto mr-6'> {{ formation.start_date_of_formation|date:"d/m/Y" }}</h>
                        <h class='text-sm w-auto mr-6'> {{ formation.end_date_of_formation|date:"d/m/Y" }}</h>
                    </div>
                  
                    <div class='text-lg w-auto flex flex-col justify-start items-start'>
                        <p>{{ formation.description_formation }}</p>
                        <p>Entreprise: {{ formation.business }}</p>
                        <p>Lieu: {{ formation.location_formation }}</p>
                    </div>
                  
                  </div>
                    {% if not forloop.last %}<br/>{% endif %}
                  {% endfor %}
                </div>
              </div> 
            </div>  
          </div>
        {% endfor %}
      </div>
    </section>

</main>










{% endblock %}