{% load static django_vite %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% vite_hmr_client %}
    {% vite_asset 'src/application/app.js' %}
    
    <link rel="icon" href="{% static "favicon.ico" %}">
    <title>GEN.cv | home</title>
</head>
    {% block title %}<title>GEN.cv | home</title>{% endblock %}
    <body class='flex flex-col justify-center items-center min-h-screen m-0 p-0 max-w-[1024px] mx-auto'>
    {% block navigation %}
    <nav class="bg-primary p-4 text-white w-full">
        <div class='container mx-auto flex justify-between'>
            <a class='text-2xl' href="{% url 'pages:home' %}">GEN.cv</a>
            <div class='flex space-x-4 text-lg'>
                {% if not user.is_authenticated %}
                    <a href="{% url 'users:login' %}">Se connecter</a>
                    <a class=".monbouton  mr-6 lg:mr-0" href="{% url 'users:signup' %}">S'inscrire</a>
                {% else %}
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button class='hover:text-red-500 transition duration-500 mr-6 lg:mr-0' type='submit'>Se déconnecter</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock navigation %}

    <div class="flex-grow">
        {% block content %}{% endblock content %}
    </div>

    {% block footer %}
        <footer class="bg-primary p-4 text-white w-full h-auto mt-6 flex flex-row justify-center items-center">
            <div class='container mx-auto flex justify-start items-center'>
                <p>© 2021 GEN.cv</p>
            </div>
        </footer>
    {% endblock footer %}
</body>
<html>